* {
  background-color: #33ccff;
}

p {
  background-color: #fff;
  height: 30vh;
}

body {
  text-align: center;
}

/* img {
  /* ctrl * allows you to write personal info  */
height: 25vh;
/* vh is video height  */
transform: rotate(30deg);
} */

ul {
  display: block;
  text-align: center;
font-size: 40;
  list-style: times new roman;
}

.flowers {
    height: 200px;
    width: 250px;
    border-radius: 30%;
}

nav {
  /* keep the navigation fixed to the top of the page */
 /* position: fixed; */
 top: 0;
 width: 100vw;

 /* remaining styles */
  background-color: ##00bfff;
  font-size: 2.5em;
  /* display: flex; */ (this made my top menu not be centered)
  justify-content: space-between;
  letter-spacing: 0.05em;
  }
