body {
  text-align: center;
  margin: 0;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("riosecreto.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

* {
  /* background-color: #33ccff; */
}

p {
  /* background-color: #fff; */
  height: 20vh;
}


/* img {
  /* ctrl * allows you to write personal info  */
height: 25vh;
/* vh is video height  */
transform: rotate(30deg);
} */

ul {
  display: block;
  text-align: center;
font-size: 40;
  list-style: times new roman;
}

.flowers {
    height: 200px;
    width: 250px;
    border-radius: 30%;
}

nav {
  /* keep the navigation fixed to the top of the page */
 /* position: fixed; */
 top: 0;
 width: 100vw;

 /* remaining styles */
  background-color: ##00bfff;
  font-size: 2.5em;
  /* display: flex; */ (this made my top menu not be centered)
  justify-content: space-between;
  letter-spacing: 0.05em;
  }

  /* <style>
      body {
        background-color: tan;
      }
      @media screen and (max-width: 700px) {
        body {
        background-color: Gingerbread;
        }
      }
      @media screen and (max-width: 500px) {
        body {
        background-color: black;
        }
      }

    </style>
  } */

  .travel {
    height: 200px;
  }
